/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

ul {
  margin-left: 2em;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #a00;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.25em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

  .site .colophon {
    clear: both;
    margin-top: 1em;
    font-size: 80%;
    color: #666;
  }

  .site .colophon .copyright {
    margin-top: 3em;
  }


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

blockquote {
  border-left: 1px solid #888;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%
  margin: 2em 2em 2em 1em;
  padding: 0px 0.75em 0px 1.25em;
}

.footnote a {
  text-decoration: none;
}

#post {
  margin: 2em 0;
}

  #post .title {
    margin: auto;
  }
  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: .4em;
    overflow: auto;
  }

  #post .update {
    margin-top: 2em;
    margin-bottom: 2em;
  }

.postlist {
  margin: 2em 0;
}

ul.posts li a {
  color: #a00;
  text-decoration: none;
}

ul.posts li a:hover {
  color: black;
}

.comments {
  margin-top: 2em;
}

/*****************************************************************************/
/*
/* CodeRay
/*
/*****************************************************************************/

.CodeRay {
  margin: 0 0 1.5em;
}

  .CodeRay pre {
    border: none;
    background: none;
  }
