.height-1 {
  height: 1.5em;
}

#header {
  height: 6em;
  background: #676767;
}

#sidebar ul {
  list-style: none;
}

#about ul li {
  margin-bottom: 25px;
}

#about ul li.last {
  margin-bottom: 0px;
}

#main {
  background: transparent url(/images/grey-e6-240-wide.png) repeat-y scroll 710px 0px;
}

#footer {
  background: #676767;
  color: #ffffff;
  text-align: center;
}
#footer p {
  margin: 1.5em 0 0
}
#footer a {
  color: #ffffff
}

.post { font-size: 200%; }

pre {
  overflow: auto;
  border: 1px solid #DEDEDE;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../images/feed-icon-14x14.png") no-repeat 0 50%;
  text-decoration: none;
  color: orange;
}

