---
extension: html
filter:
  - haml
---
= render :partial => '/head'
%body
  .container_12
    #{@content}
  -# .site
  -#   = render :partial => '/header'
  -#   = @content
  -#   = render :partial => '/footer'
