---
filter: haml
---
.postlist
  .title
    = link_to 'Blog Posts', '/archives.html'
  %ul.posts
    - posts.each do |post|
      %li
        %span
          = post.created_at.strftime('%d %b %Y')
        &raquo;
        = link_to post.title, post.url
