---
filter: haml
---
#footer.clearfix
  #contact.prefix_1.grid_8
    Les Hill
    %br
    Developer @ #{link_to 'CareZone.com', "http://carezone.com/" }
    %br
    les (at) carezone (dot) com
  #rss.grid_2
    %a{ :href => "http://feeds2.feedburner.com/leshill" }
      %img{ :src => "/images/feed-icon-28x28.png", :alt => "Subscribe to RSS Feed" }
  #copyright.grid_12
    Les Hill &copy; 2008&ndash;#{Date.today.year}
:javascript
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&amp;';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/leshill/get_num_replies.js' + query + '"></' + 'script>');
  })();
