---
filter: haml
---
.title
  = link_to 'Les Hill', '/'
  = link_to 'twitter', "http://twitter.com/leshill/", :attrs => {:class => 'extra'}
  = link_to 'github', "http://github.com/leshill/", :attrs => {:class => 'extra'}
  = link_to 'archives', '/archives.html', :attrs => {:class => 'extra'}
