---
author: Les Hill
title:  Blog
layout: index
dirty:  true
filter:
  - haml
---
- posts =  @pages.find :all, :in_directory => 'blog', :recursive => true, :sort_by => "created_at", :reverse => true, :blog_post => true
= render :partial => '/post', :locals => {:post => posts.shift}
= render :partial => '/archives', :locals => {:posts => posts[0, 10]}
- if posts.size > 10
  .title
    &raquo; #{link_to 'More Blog Posts', '/archives.html'}
